export interface Input extends Marko.HTML.Img {};

<img class=`${input.class, "avatar"}` ...input />

<style>
    .avatar {
        border-radius: 50%;
        aspect-ratio: 1/1;
        width: 2em;
    }
</style>

