import mockFeed from "../../mocks/mock_timeline.json";
import * as app from "../lexicons/app.js";

static async function getTimeline() {
  return new Promise<app.bsky.feed.getTimeline.$OutputBody>((resolve) =>
    setTimeout(
      () => resolve(mockFeed as app.bsky.feed.getTimeline.$OutputBody),
      100,
    ),
  );
}

<h1>Casey's App View</h1>

<await|timeline|=getTimeline()>
  <for|{ post }| of=timeline.feed>                                
    <post post=post />
  </for>
</await>
