import mockFeed from '../../mocks/mock_timeline.json';
import * as app from '../lexicons/app.js'

static const feed: app.bsky.feed.getTimeline.$OutputBody = mockFeed;

<h1>Casey's App View</h1>

<for|post| of=feed.feed>
  <a href=`post/${post.post.uri.slice(post.post.uri.lastIndexOf('/') + 1)}`>
    <p>
      ${post.post.author.displayName}
    </p>
    <p>
      ${post.post.record.text}
    </p>
    <hr>
  </a>
</for>
