@layer layout {
    :root {
        --flow-space: 1em;
    }
    
    body {
        display: grid;
        grid-template-columns: minmax(1rem, 1fr) minmax(0,60ch) minmax(1rem, 1fr);
        grid-template-areas: ". main .";
    }

    section {
        grid-area: main;
    }

    .flow {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .flow > * {
        margin-block: 0;
    }

    .flow > * + * {
        margin-block-start: var(--flow-space, 1em);
    }

    .flow--large > * + * {
        margin-block-start: 1.5em;
    }

    .cluster {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--flow-space, 1em);

        &[class$=small] {
            --flow-space: 0.5em;
        }
    }

    .center {
        justify-content: center;
    }
}